<?xml version="1.0" encoding="utf-8"?>
<!-- Debug only. Points the application at the handler that catches a launch crash and shows it. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:name=".CrashLogApp" tools:replace="android:name">
        <activity android:name=".CrashActivity" android:exported="false"
            android:process=":crash" android:theme="@android:style/Theme.DeviceDefault" />
    </application>
</manifest>
